# Python Distribution Package Requirements for WeeWX Graphite Extension.
#
# Source:: https://github.com/ampledata/weewx_graphite
# Author:: Greg Albrecht W2GMD <oss@undef.net>
# Copyright:: Copyright 2016 Orion Labs, Inc.
# License:: Apache License, Version 2.0


flake8==2.1.0
pylint==1.2.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
